/*estilos fuentes*/ 
$font-title: 'Oswald', sans-serif;
$font-paragraph: 'Open Sans', sans-serif;
/*fin estilos fuentes*/
/*tamaño iconos*/
$size-icon: 30px;
/*fin tamaño iconos*/
/*estilos colores*/
$navbar-bg: #ffffff;
$title-color: #424242;
$transition: .6s;